* {
	text-align: center;
	margin: 0 auto;

}

body {
	background-image: url(../images/background-4.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
/*  width: 960px;*/
  height: 680px;
/*	font-family: 'VT323', monospace;*/
/*	font-family: 'Share Tech Mono', monospace;*/
}

.container {
  background: white;
  background-color:rgba(0, 0, 0, 0.5);
  width: 680px;
  height: 500px;
  margin-top: 100px;
  padding: 20px;
}

#buttons h3 {
  color: white;
  margin: 25px;
}

#buttons {
 margin-top: 25px;
}

.mainContent {
  color: white;
  text-shadow: -0.25px 0 black, 0 0.25px black, 0.25px 0 black, 0 -0.25px black;
}

.answerA, .answerB, .answerC, .answerD {
  margin-top: 20px;
  margin-bottom: 20px;
}

.timer {
  font-family: monospace;
  font-size: 100px;
  color: white;
  /* Typography */
  text-align: center;
  /* Visual */
  background: blue;
}
